main {
    margin: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #335C67;
}

.calculation {
    border: 1px solid black;
    padding: 20px;
    position: relative;
}

h2 {
    font-family: 'VT323', monospace;
    text-align: canter;
    color: #FFF3B0;
}

h1 {
    font-family: 'VT323', monospace;
    text-align: center;
    color: #540B0E;
}


button {
    text-align: center;
    color:#540B0E;
    padding: 10px;
    border: 2px solic white;
    background-color: #E09F3E;
    border-radius: 25%;
    margin: 10px;
}

button:hover {
    background-color:#FFF3B0;
}



input {
    background-color: #9E2A2B;
    width: 150px;
    color: #FFF3B0;
    font-family: 'VT323', monospace;
    text-align: center;
}

span {
    font-size: 2rem;
    font-family: 'VT323', monospace;
    color: #FFF3B0;
    padding: 10px;
}

body{
    text-align:center;
    }